{% extends "::moteur.html.twig" %}

{% block body %}
<div class="span9">
	<h1>Ajouter un Produit : </h1>
	
	<form style="margin-top:50px;" action="{{ path('moteur_produit_ajout') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	    <input type="submit" />
	</form>
</div>
{% endblock %}
