{% extends "::base.html.twig" %}

{% block body %}
<div class="span9">
	<h1>Connexion</h1>
	
	<form class="form-signin" action="{{ path('moteur_utilisateur_connecte') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	</form>
</div>
{% endblock %}
