{% extends "::base.html.twig" %}

{% block body %}
<div class="row" id="content">
	<div class="span3">
		<h2>Ajouter un centre d'intérêt</h2>
	
		<form action="{{ path('moteur_utilisateur_interet_creer') }}" method="post" >
		    <input type="text" name="nom" />
		    <input type="submit" />
		</form>	
	</div>
	<div class="panel panel-default span9">
		<h1>Centres d'intérêts</h1>
        <table class="table">
           <thead>
               <tr>
        	       <th>Nom du centre d'intérêt</th>
        	       <th>Nombre d'utilisateurs</th>
               </tr>
           </thead>
           <tbody>
               {% for interet in interets %}
     	          <tr>
        	          <td>{{ interet.nom }}</td>
        	          <td>{{ interet.nombre }}</td>
                  </tr>
               {% endfor %}
           </tbody>
    	</table>
	</div>
</div>

{% endblock %}
