{% extends "::base.html.twig" %}

{% block body %}
<div class="span12" id="content" style="text-align: center;">
	<h1>Générer des produits</h1>
	
	<form action="{{ path('moteur_produit_generer') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	</form>
</div>
{% endblock %}
