{% extends "::moteur.html.twig" %}

{% block body %}
<div class="span9">
	<h1>Générer des produits</h1>
	
	<form action="{{ path('moteur_produit_generer') }}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}
	</form>
</div>
{% endblock %}
